body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 70px;
}
#bandeau {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #303030;
    height:70px;
}
#bandeau img {
    height:60px;
    padding: 5px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}
#bandeau a {
    text-decoration: none;
}
#latrame {
    width: 100%;
    max-width: 800px;
    display: block;
    margin-left:auto;
    margin-right: auto;
}